RewriteEngine On

# Remove .html extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

# Redirect /contact.html to /contact
RewriteRule ^contact\.html$ /contact [R=301,L]

# Redirect /kontakt to /contact
RewriteRule ^kontakt$ /contact [R=301,L]

# Handle 404 errors
ErrorDocument 404 /404.html

AuthType Basic
AuthName "Silvestr 2024"
AuthUserFile .htpasswd
Require valid-user

<Files "silvestr2024.html">
    Require valid-user
</Files>

<Files "italie2025.html">
    AuthName "Itálie 2025"
    Require valid-user
</Files> 